*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

section {
    padding: 3rem 0;                                  
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

.navbar {
    float: right;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: visible;
}

input[type=text] {
    float: right;
    padding: 0.2em;
    margin-top: 1em;
    margin-right: 16px;
    font-size: 17px;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(35, 37, 37);
    padding: 14px 16px;
    text-decoration: none; /* to quit the underline */
}

.overview-text {
    background-color: rgb(35, 37, 37);
    text-align: center;
} 

.contact-section {
    background-color: rgb(11, 25, 37);
}
